
</div>
  <div class="footer">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-box">
          <h4>FLATHEAD MORTGAGE COMPANY</h4>
          <h5><i class="fa-solid fa-phone"></i>406-253-3929</h5>
          <h5><i class="fa-solid fa-hashtag"></i> NMLS: 237888</h5>
          <h5><i class="fa-solid fa-hashtag"></i> CA DRE: 01870553</h5>
        </div>
      </div>
<!--      <div class="col-sm-6">-->
<!--          <div class="footer-box">-->
<!--            <h4>QUICK LINKS</h4>-->
<!--            <h5>Licensing</h5>-->
<!--            <h5>Privacy Policy</h5>-->
<!--            <h5>CCPA Notice</h5>-->
<!--            <h5>Accessibility Statement</h5>-->
<!--            <h5>NMLS Consumer Access</h5>-->
<!--          </div>-->
<!--      </div>-->
    </div>
    <div class="row">
      <p>
        For informational purposes only. This is not a commitment to lend or extend credit. All loans are subject to credit approval. Flathead Mortgage Company powered by Nationwide Loans, Inc registered in Montana |  (406) 253-3929 | NMLS #1799965
      </p>
      <p>

      </p>
    </div>
  </div>
</body>
</html>
