<%- include("partials/header"); -%>
    <div class="row">
        <div class="container">
            <div class="about-card">
                <h1>About Our Owner</h1>
                <p>Hello there,</p>

                <p>My name is Scott Reichner, and I'm the proud owner of Flathead Mortgage Inc. For 28 years, I've had the privilege of guiding folks through the mortgage process right here in the Flathead Valley, where I've not only raised my children but also served as a state legislator. Montana isn't just where I work—it's the place I call home, and it's a big part of who I am. I live and breathe Montana pride, and I bring that passion to everything I do at Flathead Mortgage Inc.</p>

                <p>Here, we're not just about doing business; we're about setting a new standard in the mortgage industry. Our commitment to outstanding customer service starts with putting your needs first, always. I understand that navigating the home loan process can be daunting, which is why I'm here to guide you through every step. With a wide range of mortgage options at your fingertips, I'll help you find the perfect loan that feels just right for you and your family. And once you make your choice, you can count on me to be by your side, supporting your dream of homeownership every step of the way.</p>

                <p>But our relationship doesn't end with a transaction. At Flathead Mortgage, we aim to be your lifelong partner in all your home loan needs, exceeding your expectations and earning your trust for years to come. I want you to feel confident, not just in the decisions you make, but also in recommending us to your friends and family.</p>

                <p>I invite you to leverage our expertise and dedication to personal service by applying online today or giving us a call for a free, personalized consultation. Discover the difference that genuine care, professionalism, and a personal touch can make in your journey to homeownership.</p>

                <p>It's quick, secure, and straightforward—just how we like things here in Montana.</p>

                <p>Looking forward to connecting with you,<br>Scott Reichner</p>
                <form action="/contact" method="GET">
                    <button class="btn-main" type="submit">Contact Me</button>
                </form>
            </div>
        </div>
    </div>
<%- include("partials/footer"); -%>
