<%- include("partials/header"); -%>
<div class="row">
    <div class="container">
        <div class="about-card">
            <h1>Loan Programs</h1>
            <p>Below, you'll find an overview of select programs available at Flathead Mortgage Inc., highlighting the essential features of each. For a comprehensive guide to all our offerings, we invite you to reach out to us <a href="/contact">here</a>.</p>
            <h2>Conventional Fixed Rate Mortgage</h2>
            <p>A stable and popular choice, offering consistent interest rates and monthly payments throughout the loan term.</p>

            <h2>FHA Mortgage Loans</h2>
            <p>Backed by the Federal Housing Administration, these loans offer lower down payment requirements and are easier to qualify for.</p>

            <h2>VA Mortgage Loans</h2>
            <p>Exclusively for veterans, active-duty service members, and eligible military spouses, VA loans offer benefits such as no down payment and no private mortgage insurance.</p>

            <h2>Refinance Mortgage Loans</h2>
            <p>Allows homeowners to replace their existing mortgage with a new loan, often to reduce interest rates, lower monthly payments, or tap into home equity.</p>

            <h2>Jumbo Loans</h2>
            <p>For financing properties that exceed the conventional loan limits set by Fannie Mae and Freddie Mac, offering larger loan amounts.</p>

            <h2>Construction Loans</h2>
            <p>Designed to finance the building of a new home, with funds disbursed at different stages of construction.</p>

            <h2>Adjustable Rate Mortgages (ARMs)</h2>
            <p>Initially offers lower interest rates that adjust over time based on market trends, suitable for short-term homeownership plans.</p>

            <h2>Reverse Mortgage Loans</h2>
            <p>Allows homeowners aged 62 and older to convert part of their home equity into cash income without selling their home or making monthly mortgage payments.</p>

        </div>
    </div>
</div>

<%- include("partials/footer"); -%>