<%- include("partials/header"); -%>
<div class="row">
    <div class="container">
        <div class="about-card">
            <h1>Thank you for your interest.</h1>
            <h2>Scott will connect with you shortly.</h2>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>